#normal {
    background: #2da0df;
    text-align: center;
    padding: 20px; 
    width: 1220px;
    height: 10px;
}

#firstdiv {
    width: 120px; 
    float:left; 
    height:500px; 
    background:#2da0df; 
    margin:10px;
    text-align: center;
    padding: 20px;
}

#seconddiv {
    width: 1000px; 
    float:right; 
    height:500px; 
    background:#2da0df; 
    margin:10px;
    text-align: center;
    padding: 20px
}

#rcorners {
    border-radius: 25px;
    background: #2da0df;
    text-align: center;
    padding: 20px; 
    width: 1220px;
    height: 50px;
    clear: both;
}